In [391]:
import pandas as pd
import numpy as np
from datetime import time
import datetime

# Carga de Archivos

In [392]:
df_hechos = pd.read_excel('datasets\homicidios.xlsx', sheet_name='HECHOS')
df_victimas = pd.read_excel('datasets\homicidios.xlsx', sheet_name='VICTIMAS')
df_victimas2 = pd.read_excel('datasets\lesiones.xlsx', sheet_name='VICTIMAS')

# Transformación

## Exploración de datasets

In [393]:
def verificar_tipo_datos(df):
    '''
    Realiza un análisis de los tipos de datos y la presencia de valores nulos en un DataFrame.

    Esta función toma un DataFrame como entrada y devuelve un resumen que incluye información sobre
    los tipos de datos en cada columna, el porcentaje de valores no nulos y nulos, así como la
    cantidad de valores nulos por columna.

    Parameters:
        df (pandas.DataFrame): El DataFrame que se va a analizar.

    Returns:
        pandas.DataFrame: Un DataFrame que contiene el resumen de cada columna, incluyendo:
        - 'nombre_campo': Nombre de cada columna.
        - 'tipo_datos': Tipos de datos únicos presentes en cada columna.
        - 'no_nulos_%': Porcentaje de valores no nulos en cada columna.
        - 'nulos_%': Porcentaje de valores nulos en cada columna.
        - 'nulos': Cantidad de valores nulos en cada columna.
    '''

    mi_dict = {"nombre_campo": [], "tipo_datos": [], "no_nulos_%": [], "nulos_%": [], "nulos": []}

    for columna in df.columns:
        porcentaje_no_nulos = (df[columna].count() / len(df)) * 100
        mi_dict["nombre_campo"].append(columna)
        mi_dict["tipo_datos"].append(df[columna].apply(type).unique())
        mi_dict["no_nulos_%"].append(round(porcentaje_no_nulos, 2))
        mi_dict["nulos_%"].append(round(100-porcentaje_no_nulos, 2))
        mi_dict["nulos"].append(df[columna].isnull().sum())

    df_info = pd.DataFrame(mi_dict)
        
    return df_info

### Hechos

In [394]:
print(df_hechos.shape)
df_hechos.head(5)

(696, 21)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

In [395]:
verificar_tipo_datos(df_hechos)

,nombre_campo,tipo_datos,no_nulos_%,nulos_%,nulos
0,ID,[<class 'str'>],100.00,0.00,0
1,N_VICTIMAS,[<class 'int'>],100.00,0.00,0
2,FECHA,[<class 'pandas._libs.tslibs.timestamps.Timest...,100.00,0.00,0
3,AAAA,[<class 'int'>],100.00,0.00,0
4,MM,[<class 'int'>],100.00,0.00,0
5,DD,[<class 'int'>],100.00,0.00,0
6,HORA,"[<class 'datetime.time'>, <class 'str'>, <clas...",100.00,0.00,0
7,HH,"[<class 'int'>, <class 'str'>]",100.00,0.00,0
8,LUGAR_DEL_HECHO,[<class 'str'>],100.00,0.00,0
9,TIPO_DE_CALLE,[<class 'str'>],100.00,0.00,0
10,Calle,"[<class 'str'>, <class 'float'>]",99.86,0.14,1
11,Altura,[<class 'float'>],18.53,81.47,567
12,Cruce,"[<class 'str'>, <class 'float'>]",75.43,24.57,171
13,Dirección Normalizada,"[<class 'str'>, <class 'float'>]",98.85,1.15,8
14,COMUNA,[<class 'int'>],100.00,0.00,0
15,XY (CABA),[<class 'str'>],100.00,0.00,0
16,pos x,[<class 'str'>],100.00,0.00,0
17,pos y,[<class 'str'>],100.00,0.00,0
18,PARTICIPANTES,[<class 'str'>],100.00,0.00,0
19,VICTIMA,[<class 'str'>],100.00,0.00,0
20,ACUSADO,[<class 'str'>],100.00,0.00,0

### Victimas

In [396]:
print(df_victimas.shape)
df_victimas.head(5)

(717, 10)

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00

In [397]:
verificar_tipo_datos(df_victimas)

,nombre_campo,tipo_datos,no_nulos_%,nulos_%,nulos
0,ID_hecho,[<class 'str'>],100.0,0.0,0
1,FECHA,[<class 'pandas._libs.tslibs.timestamps.Timest...,100.0,0.0,0
2,AAAA,[<class 'int'>],100.0,0.0,0
3,MM,[<class 'int'>],100.0,0.0,0
4,DD,[<class 'int'>],100.0,0.0,0
5,ROL,[<class 'str'>],100.0,0.0,0
6,VICTIMA,[<class 'str'>],100.0,0.0,0
7,SEXO,[<class 'str'>],100.0,0.0,0
8,EDAD,"[<class 'int'>, <class 'str'>]",100.0,0.0,0
9,FECHA_FALLECIMIENTO,"[<class 'datetime.datetime'>, <class 'str'>]",100.0,0.0,0

### Victimas 2

In [398]:
print(df_victimas2.shape)
df_victimas2.head(5)

(27605, 9)

,ID hecho,AAA,MM,DD,FECHA,VEHICULO_VICTIMA,SEXO,EDAD_VICTIMA,GRAVEDAD
0,LC-2019-0000053,2019,1,1,2019-01-01,sd,Varon,57,SD
1,LC-2019-0000063,2019,1,1,2019-01-01,sd,SD,SD,SD
2,LC-2019-0000079,2019,1,1,2019-01-01,sd,Varon,SD,SD
3,LC-2019-0000082,2019,1,1,2019-01-01,sd,Varon,45,SD
4,LC-2019-0000082,2019,1,1,2019-01-01,sd,Mujer,45,SD

In [399]:
verificar_tipo_datos(df_victimas2)

,nombre_campo,tipo_datos,no_nulos_%,nulos_%,nulos
0,ID hecho,[<class 'str'>],100.0,0.0,0
1,AAA,[<class 'int'>],100.0,0.0,0
2,MM,[<class 'int'>],100.0,0.0,0
3,DD,[<class 'int'>],100.0,0.0,0
4,FECHA,[<class 'pandas._libs.tslibs.timestamps.Timest...,100.0,0.0,0
5,VEHICULO_VICTIMA,[<class 'str'>],100.0,0.0,0
6,SEXO,[<class 'str'>],100.0,0.0,0
7,EDAD_VICTIMA,"[<class 'int'>, <class 'str'>]",100.0,0.0,0
8,GRAVEDAD,[<class 'str'>],100.0,0.0,0

## Creación de dataframes

**df_hechos** y **df_vistimas** pueden unirse por **ID** y **ID_hecho** <br>

Se verifico previamente que las columnas compartidas por ambos, tienen los mismos datos por lo que se borran antes del merge

In [400]:
#Se borran las columnas que comparten ambos dataframe
df_victimas.drop(['FECHA','AAAA','MM','DD','VICTIMA'], axis=1, inplace=True)
#Se unen df_hechos y df_victimas a travez del id
df_homicidios = pd.merge(df_hechos,df_victimas, how='inner', left_on='ID', right_on='ID_hecho')
print(df_homicidios.shape)
df_homicidios.head(5)

(717, 26)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO,ID_hecho,ROL,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO,2016-0001,CONDUCTOR,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS,2016-0002,CONDUCTOR,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO,2016-0003,CONDUCTOR,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,-58.46503904,-34.68092974,MOTO-SD,MOTO,SD,2016-0004,CONDUCTOR,MASCULINO,18,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS,2016-0005,CONDUCTOR,MASCULINO,29,2016-02-01 00:00:00

In [427]:
verificar_tipo_datos(df_homicidios)

,nombre_campo,tipo_datos,no_nulos_%,nulos_%,nulos
0,ID,[<class 'str'>],100.00,0.00,0
1,N_VICTIMAS,[<class 'int'>],100.00,0.00,0
2,FECHA,[<class 'pandas._libs.tslibs.timestamps.Timest...,100.00,0.00,0
3,AAAA,[<class 'int'>],100.00,0.00,0
4,MM,[<class 'int'>],100.00,0.00,0
5,DD,[<class 'int'>],100.00,0.00,0
6,HORA,"[<class 'datetime.time'>, <class 'str'>, <clas...",100.00,0.00,0
7,HH,"[<class 'int'>, <class 'str'>]",100.00,0.00,0
8,LUGAR_DEL_HECHO,[<class 'str'>],100.00,0.00,0
9,TIPO_DE_CALLE,[<class 'str'>],100.00,0.00,0
10,Calle,"[<class 'str'>, <class 'float'>]",99.86,0.14,1
11,Altura,[<class 'float'>],18.53,81.47,567
12,Cruce,"[<class 'str'>, <class 'float'>]",75.43,24.57,171
13,Dirección Normalizada,"[<class 'str'>, <class 'float'>]",98.85,1.15,8
14,COMUNA,[<class 'int'>],100.00,0.00,0
15,XY (CABA),[<class 'str'>],100.00,0.00,0
16,pos x,[<class 'str'>],100.00,0.00,0
17,pos y,[<class 'str'>],100.00,0.00,0
18,PARTICIPANTES,[<class 'str'>],100.00,0.00,0
19,VICTIMA,[<class 'str'>],100.00,0.00,0
20,ACUSADO,[<class 'str'>],100.00,0.00,0
21,ID_hecho,[<class 'str'>],100.00,0.00,0
22,ROL,[<class 'str'>],100.00,0.00,0
23,SEXO,[<class 'str'>],100.00,0.00,0
24,EDAD,"[<class 'int'>, <class 'str'>]",100.00,0.00,0
25,FECHA_FALLECIMIENTO,"[<class 'datetime.datetime'>, <class 'str'>]",100.00,0.00,0


### Analisis de cada uno de las columnas 
En particular todas de las columnas con varios tipos de datos y con gran numero de nulos

In [402]:
df_homicidios.columns

Index(['ID', 'N_VICTIMAS', 'FECHA', 'AAAA', 'MM', 'DD', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'Calle', 'Altura', 'Cruce',
       'Dirección Normalizada', 'COMUNA', 'XY (CABA)', 'pos x', 'pos y',
       'PARTICIPANTES', 'VICTIMA', 'ACUSADO', 'ID_hecho', 'ROL', 'SEXO',
       'EDAD', 'FECHA_FALLECIMIENTO'],
      dtype='object')

ID

In [403]:
print('Hay este número de valores repetidos:', df_homicidios[df_homicidios['ID'].duplicated()].shape[0] )

Hay este número de valores repetidos: 21

In [404]:
#Borado de ID duplicados
df_homicidios.drop_duplicates(['ID'], inplace=True)

N_VICTIMAS

In [405]:
print('Distintos valores de la columna N_victimas', list(np.unique(df_homicidios['N_VICTIMAS'])))
print('Porcentaje de 1:', (df_homicidios[df_homicidios['N_VICTIMAS']==1].count()[0]*100/len(df_homicidios)).round(2))
print('Porcentaje de 2:', (df_homicidios[df_homicidios['N_VICTIMAS']==2].count()[0]*100/len(df_homicidios)).round(2))
print('Porcentaje de 3:', (df_homicidios[df_homicidios['N_VICTIMAS']==3].count()[0]*100/len(df_homicidios)).round(2))

Distintos valores de la columna N_victimas [1, 2, 3]
Porcentaje de 1: 97.13
Porcentaje de 2: 2.73
Porcentaje de 3: 0.14

Es una columna util pero no parece ofrecer mucha informacion

FECHA

In [406]:
#Cuenta los calors de distinto tipo al normal
count=0
for i,k in  enumerate(df_homicidios['FECHA']):
    if len(str(k)) != 19:
    #if type(k) != type(df_homicidios['FECHA'][0]):   
        count +=1
print('Numero de Valores mas cortos o mas largos:', count)

Numero de Valores mas cortos o mas largos: 0

In [407]:
#Cuenta los calors de distinto tipo al normal
count=0
for i,k in  enumerate(df_homicidios['FECHA']):
   
    if type(k) != type(df_homicidios['FECHA'][0]):   
        count +=1
print('Numero de Valores distintos del tipo normal de fecha:', count)

Numero de Valores distintos del tipo normal de fecha: 0

HORA

In [408]:
df_homicidios['HORA'].apply(type).unique()

array([<class 'datetime.time'>, <class 'str'>,
       <class 'datetime.datetime'>], dtype=object)

In [425]:
#Cuenta los valores de distinto tipo al normal
count=0
lista=[]
for i,k in  enumerate(df_homicidios['HORA']):
    if len(str(k)) != 8:
       count +=1
       lista.append(i)
       print('Indice:',i,'Valor:',k, 'Tipo de dato:', type(k))
       
print('Numero de Valores mas cortos o mas largos:', count)   
print('Indice de los valores distintos', lista)

Indice: 439 Valor: 1900-01-02 00:00:00 Tipo de dato: <class 'datetime.datetime'>
Indice: 441 Valor: 1900-01-14 07:12:00 Tipo de dato: <class 'datetime.datetime'>
Indice: 496 Valor: 1900-01-04 18:40:00 Tipo de dato: <class 'datetime.datetime'>
Indice: 518 Valor: SD Tipo de dato: <class 'str'>
Numero de Valores mas cortos o mas largos: 4
Indice de los valores distintos [439, 441, 496, 518]

Existen 4 valores que no corresponde con el tipo de datos en hora

In [426]:
#Indices y valores de la horas
for i,k in enumerate(lista):
    print('Indice:',k ,'Hora',df_homicidios['HORA'][k])

Indice: 439 Hora 12:00:00
Indice: 441 Hora 19:34:00
Indice: 496 Hora 23:00:00
Indice: 518 Hora 11:45:00

In [421]:
#Corrige los valores alterados de las horas
df_homicidios.at[439,'HORA'] = datetime.time(12,00,00)
df_homicidios.at[441,'HORA'] = datetime.time(19,34,00)
df_homicidios.at[496,'HORA'] = datetime.time(23,00,00)
df_homicidios.at[518,'HORA'] = datetime.time(11,45,00)

In [414]:
df_homicidios['HORA'].apply(type).unique()

array([<class 'datetime.time'>, <class 'str'>,
       <class 'datetime.datetime'>], dtype=object)